DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DATABASE_URL="postgresql://[user]:[password]@[localhost]:[5432]/[database]"
CORS_URL="http://localhost:3000"
PORT=3001

#En los campos [], borrar las llaves y agregar la información de la configuración de conexión de postgres o el que sea de sus máquinas.