DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=

DATABASE_URL=

CORS_URL="http://localhost:3000"
PORT=3001

ACCESS_TOKEN=secretAccess
REFRESH_TOKEN=secretRefresh
RESET_PASSWORD_KEY=resetKey


